body {

    background-color: rgb(32, 32, 32);
    color: #edeb6d;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

h1 {

    text-align: center;
    color: #edeb6d;

}

ul {
    margin: 10px auto;
    text-align: center;
}

li {
    display: inline-block;
    list-style-type: none;
    height: 200px;
    width: 200px;
    background-color: rgb(32, 32, 32);
    margin: 10px;
    text-align: center;
    border: 10px solid rgba(17, 21, 20, 0.917);
    border-radius: 20px;
    
    
}

img {

    display: inline;
    margin: 10px auto 20px;
    height: 100px;
    width: auto;

}

a {
color: #edeb6d;
text-align: center;
}